

:root{
    
    --black:#000000;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Heebo', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
    
}

body, html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
    height: 100%;

}

section{
    padding: 2rem 9%;
    background-image: url(images/bg.png);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:#fff;
    background: #A47551;
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
}

.btn:hover{
    color:var(--black);
    background: #D0B49F;
    letter-spacing: .1rem;
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #F4EFEB;
    padding: 1rem 7%;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .logo{
    color:var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i{
    color:var(--black);
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color:var(--light-color);
    border-bottom: 3px solid transparent;
}

header .navbar a:hover{
    border-bottom:3px solid #666;
}

header .navbar a:active{
    border-bottom:3px solid#666;
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 3rem;
    color: var(--black);
}

.home .container .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 9rem;

}

.home .container .slide .content{
    flex-wrap: 1 1 45rem;
}

.home .container .slide .image{
    display:flex;
    justify-content: flex-end;
}

.home .container .slide .image img{
    max-width: 100%;
    height: auto;
    right: auto;
    
}

.home .container .slide .content h1{
    color: var(--black);
    font-size: 5.7rem;
    font-weight:800;
}

.home .container .slide .content p{
    color: var(--black);
    font-size: 4.4rem;
    font-weight: normal;
}

.home .container .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 9rem;

}



/* media queries */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    header{
        padding:1rem 2rem;
    }
}